body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #910015;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.555);
    text-shadow: 0px 4px 2px black;

    
}

/* home */
nav a {
    color: #fff;
    margin: 0 1rem;
    font-size: 15px;
    text-decoration: none;
    padding: 9px;
    border-radius: 10px;
}

nav a:hover{
    background-color: rgb(151, 26, 26);
}

.banner {
    padding: 2rem;
    background-image: url(guitarra_fondo.jpg);
    height:500px;
}

.hero{
    
    margin: 140px auto;
    color:white;
    background-color: rgba(0, 0, 0, 0.658);
    height:100px ;
    width: 500px;
    text-align: center;
    padding: 20px;
    text-shadow: 4px 4px 2px black;

    

}
/* sonbre nosotros */
.nosotros{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 600px;
}



.nosotros p{
    width: 500px;
}

.nosotros img{
    width: 500px;;
    height: 400px;
    object-fit: cover;
    border-radius: 90px;
    
}

/* comentarios */
.comentario_titulo{
    text-align: center;
}
.comentarios{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 140px;
    padding:30px;
}

.comentarios div{
    text-align: center;
    padding: 30px;
    box-shadow: 0px 4px 9px black;

}

/* formulario */


.contacto_titulo{
    text-align: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container label {
    font-weight: bold;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-container button {
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    background-color:  rgb(146, 63, 63);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color:  rgb(85, 43, 43);
}

/* productos */

.productos_titulo{
    text-align: center;
}

.seccion_guitarras{
    margin-bottom: 20px ;
    display:flex;
    justify-content: space-around;
    margin-bottom: 100px;
    box-sizing: border-box;

}


.producto {
    border: 2px solid #ccc;
    padding: 1rem;
    text-align: center;
    height: 350px;
}

.producto:hover{
    border: 5px solid  rgb(151, 26, 26);
}

.producto img{
    height: 100%;
}



footer {
    background-color: #910015;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
